<h1>Découvre la Team</h1>
  <%= image_tag("IMG_20220622_185805", alt: "Tangerine", class: "img", size: "300x400") %>
  <%= image_tag("IMG_20220622_185822", alt: "Yuchi kimora", class: "img", size: "300x400") %>
  <%= image_tag("IMG_20220622_185823", alt: "The white death", class: "img", size: "300x400") %>
