<main class= "container">

<h1>Contact</h1>
<h6>Contactez-nous pour plus de potins</h6>
<br /> <br />

<div class="col">
  <label for="exampleFormControlInput1" class="form-label">@mail</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="@example.com">
</div>
<br /> <br />

<div class="col">
  <label for="exampleFormControlTextarea1" class="form-label">Ecris-nous</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
</div>
<br /> <br />

<div class="col"> 
   <input class="btn btn-primary" type="submit" value="Envoyer">
</div>

</main>